<p>
	An owner history information about when the <em>element</em> has been created and when it has been last modified. The owner history information may be common to all entities within an IFC data set, or it may be given individually to each applicable entity contained in the IFC data set.</p>
<p>
	The concept template sets the default requirement that a single owner history object assigned to all entities within the IFC data file is permissible.</p>
<p>
	A <strong>model view definitio</strong>n shall clearly define requirement at which level the assignment of owner history information is required, if it differs from the default requirement.</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>