<p>
	Provision of a filling within a void that is a subtraction from an element. It requires the concept &quot;Voiding&quot; to be supported for that element. There are two roles involved in the concept &quot;Filling&quot;:</p>
<ul>
	<li>
		the provision of a filling for the void within the <em>element</em>. This is expressed by the sub concept &quot;HasFilling&quot;</li>
	<li>
		the <em>element </em>being the filling for the void. This is expressed by the sub concept &quot;IsFilling&quot;</li>
</ul>