<p>
	Provision of basic element attributes for the <em>element</em>. It includes:</p>
<ul>
	<li>
		<em>Name</em></li>
	<li>
		<em>Description</em></li>
	<li>
		<em>PredefinedType </em>(if available at the element entity definition) as ,</li>
	<li>
		<em>ObjectType being the </em><span style="font-style: italic;">u</span>ser defined type, if the <em>PredefinedType</em> is set to USERDEFINED.</li>
</ul>
<p>
	Additionally all subtypes of <em>IfcSpatialStructureElement</em>, <em>IfcSite</em>, <em>IfcBuilding</em>, IfcBuildingStorey, and <em>IfcSpace </em>add an additional attribute, <em>LongName</em>.</p>
<p>
	This information is provided as direct attributes at the <em>element</em>. The default requirement stipulated by this <strong>concept template</strong> is that the provision of a <em>Name </em>and of a <em>PredefinedType </em>(if available) is mandatory, whereas the provision of a <em>Description </em>and an <em>ObjectType </em>is optional.</p>
<p>
	A <strong>model view definitio</strong>n shall clearly define which of those attributes are required to have values, and if there are constraints on those values.</p>