<p>
	Provision of a classification reference as an link to an classification items and corresponding external classification system for the <em>element</em>. There can be more than one classification reference be provided for <span style="font-style: italic;">the </span><em>&quot;element&quot;</em>.</p>
<p style="margin-left: 40px;">
	Note: Exchange requirements or local conventions may determine the support of a particular classification system for a certain type of elements.</p>
<p style="margin-left: 40px;">
	Note: On import, the classification reference may be shown as a property.</p>
<p>
	A <strong>model view definitio</strong>n shall clearly define any further restrictions to the applicable classification, if at all, associated with this <em>element.</em></p>