<p>
	<strong>General concept template</strong> regarding the whole IFC date set.</p>
<p>
	Delivery of the IFC data set in any of the following file formats:</p>
<ul>
	<li>
		as an STEP physical file (ISO 10303-21 format) with the file extension *.ifc</li>
	<li>
		as an XML document file (ISO 10303-28 format) with the file extension *.ifcXML</li>
	<li>
		as a zip compressed STEP physical file or XML document file with the file extension *.ifcZIP</li>
</ul>
<p>
	A Model View Definition shall specify which of the file formats listed above are a valid form of export, and are required to be read for import.</p>