<p>
	Provision of project units, those units are used for all geometric representations and they are the default units for properties (and quantities), if not overridden locally.</p>
<p>
	A <strong>model view definitio</strong>n shall clearly define which unit definitions have to be declared as the required minimum.</p>
<ul>
	<li>
		The minimum required unit definitions for all model view definitions that include a geometric representation (see concept template &quot;<em>Geometry</em>&quot;) are
		<ul>
			<li>
				length unit,</li>
			<li>
				area unit,</li>
			<li>
				volume unit, and</li>
			<li>
				plane angle unit.</li>
		</ul>
	</li>
	<li>
		The minimum required unit definitions for all model view definitions that include property sets (see concept template &quot;Property Set&quot;) are:
		<ul>
			<li>
				all units required by the measure type or units defined by the included properties</li>
		</ul>
	</li>
</ul>